  {{ define "navbar" }}
    <div class="navbar bg-base-200 font-familjen ">
      <div class="navbar-start  ">
        <div class="btn btn-ghost text-4xl ">
          <a href="/" class="">
            <img src="/assets/images/logo.png" class="w-12 "  />
          </a>
        </div>
      </div>
      <div class="navbar-center flex hidden md:block ">
      </div>
      <div class="navbar-end ">
        <div class="hidden md:block flex space-x-3 ">
          <a href="/frame/routing" class="link link-hover ">
            Routing
          </a>
          <a href="/frame/faq" class="link link-hover ">
            FAQ
          </a>
        </div>
      </div>
    </div>
    {{ end }}
