<div class="p-0">
    <div class="flex justify-center h-screen">
        <div class="bg-custom-image bg-no-repeat w-full bg-cover">
            <div class="flex justify-center mt-9">
                    <div class="flex justify-center items-center text-center mt-3">
                        <div>
                            <div class="text-2xl">
                                Sign up
                            </div>
                            <div class="mt-3">
                                <span class="">
                                    Already have account?
                                </span>
                                <a href="/heart/login" class="underline">
                                    Login
                                </a>
                            </div>
                            <form id="register" class="w-full mt-6 space-y-3" method="POST">
                                <div>
                                    <input value="oneone+wefwef@gmail.com" id="email" placeholder="email" autofocus="true" class="w-3/4 input input-primary" />
                                </div>
                                <div>
                                    <input placeholder="password" class="w-3/4 input input-primary" value="testing123" id="password" />
                                </div>
                                <div class="flex justify-center">
                                    <label class="block flex items-center label cursor-pointer">
                                        <input type="checkbox" id="box" class="checkbox checkbox-primary" />
                                        <span class="ml-3 label-text">
                                            I agree to
                                        </span>
                                        <a href="/" class="safari ml-1 label-text underline">
                                            privacy
                                        </a>
                                        <span class="ml-1 label-text">
                                            &
                                        </span>
                                        <a href="/" class="safari ml-1 label-text underline">
                                            terms
                                        </a>
                                    </label>
                                </div>
                                <div class="flex justify-center">
                                    <div>
                                        <input type="submit" value="Sign-up" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
